* {
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
}

.home-wrapper-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 130vh;
    width: 100%;
    overflow-x: hidden;
}

.header-parent-div {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,
    #3cb371 0%,
    #32cd32 33.3%,
    #2e8b57 66.6%);
    height: 40%;
    width: 100vw;
}

.header-issue-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
}

.header-issue-div p {
   margin-left: 10px;
}

.header-sub-title-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%
}

.header-sub-title-div p {
    margin-left: 10px;
}

.header-title-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-title-top-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}


.header-title-bottom-div {
    display: flex;
    flex-direction: row;
    height: 44%;
    width: 100%;
}

.header-title-bottom-div p:last-child {
    color: red;
}

.header-title-bottom-div p  {
    margin-left: 4px;
    font-size: 10px;
}

.header-title-bottom-div p span {
    display: none;
}

.body-parent-div {
    display: flex;
    background-color: powderblue;
    height: 30%;
    width: 100%;
    flex-direction: column;
}

.body-left-panel-div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.body-left-panel-top-div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.body-left-panel-bottom--div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.body-primary-panel-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.upcoming-events-body-primary-panel-middle-div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.upcoming-events-body-primary-panel-bottom-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.footer-parent-div {
    display: flex;
    background: linear-gradient(to right,
    gold 0%,
    limegreen 25%,
    gold 50%,
    limegreen 75%,
    gold 100%);    height: 100%;
    width: 100%;
}

.foooter-contact-info-home-div {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 70vw;
    flex-direction: column;
}

.foooter-contact-info-div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.footer-contact-info-home-div {
    display: flex;
    height: 100%;
    width: 100%;
}


.body-primary-panel-left-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.body-primary-panel-left-div img {
    width: 25%;
    height: 25%;
}

.footer-image-home-div {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 10%;
}


.footer-image-div {
    display: flex;
    flex-direction: column;
}

.footer-image-div img{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 10%;
}

.body-primary-panel-right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.upcoming-events-body-primary-panel-bottom-p-div {
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.upcoming-events-body-primary-panel-bottom-p-div img{
    height: 100%;
    width: 33%;
}