* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home-wrapper-div {
    display: flex;
    background-color: red;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    box-sizing: border-box;
}


.header-parent-div {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 40%;
    width: 100vw;

}

.header-issue-div {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    height: 20%;
    width: 100%;

}

.header-issue-div p {
   margin-left: 10px;

}

.header-sub-title-div {
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    height: 20%;
    width: 100%

}

.header-sub-title-div p {
    margin-left: 10px;

}

.header-title-div {
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
    height: 100%;
    width: 100%;

}

.header-title-top-div {
    display: flex;
    flex-direction: row;
    background-color: darkolivegreen;
    height: 100%;
    width: 100%;
    justify-content: center;

}


.header-title-bottom-div {
    display: flex;
    flex-direction: row;
    background-color: olivedrab;
    height: 20%;
    width: 100%;


}

.header-title-bottom-div p:last-child {
    color: red;
}


.header-title-bottom-div p  {
    margin-left: 5px;
    font-size: 11px;

}

.header-title-bottom-div p span {
    display: none;
}





.body-parent-div {
    display: flex;
    background-color: powderblue;
    height: 30%;
    width: 100%;
    flex-direction: column;

}


.body-left-panel-div {
    display: flex;
    background-color: lightgoldenrodyellow;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.body-left-panel-top-div {
    display: flex;
    background-color: gold;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.body-left-panel-bottom--div {
    display: flex;
    background-color: goldenrod;
    height: 100%;
    width: 100%;
    flex-direction: column;

}


