* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 22px;
}


li {
    font-size: 22px;
    font-weight: bold;
}

.home-wrapper-div {
    display: flex;
    /*background-color: red;*/
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

.header-parent-div {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to top,
    #3cb371 0%,
    #32cd32 33.3%,
    #2e8b57 66.6%);
    height: 15%;
    width: 100vw;
}

.header-issue-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.header-sub-title-div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 20%;
    padding-right: 0;
}


.header-title-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.header-title-top-div {
    display: flex;
    align-items: flex-end;
    height: 80%;
    width: 100%;
    bottom: 0;
    padding-left: 10px;
    font-size: 50px;
    color: white;
}

.header-title-top-div h1:first-child span {
    font-family: 'Georgia', serif;
}

.header-title-bottom-div {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    align-items: flex-end;
}

.header-title-bottom-div p:last-child {
    color: red;
}


.header-title-bottom-div p  {
    margin-left: 10px;
}

.header-title-bottom-div p span {
    color: white;
    margin-left: 10px;
}














.body-parent-div {
    display: flex;
    /*background-color: lightblue;*/
    height: 70%;
    width: 100vw;

}

.body-left-panel-div {
    display: flex;
    /*background-color: lightgoldenrodyellow;*/
    height: 100%;
    width: 20%;
    flex-direction: column;


}

.body-left-panel-top-div {
    display: flex;
    background-color: lightblue;
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}


.body-left-panel-top-div img{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 21%;

}



.body-left-panel-bottom--div {
    display: flex;
    background-color: lightblue;
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}


.body-left-panel-top-div,
.body-left-panel-bottom--div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 15px;
    /*background-color: gold; !* top div *!*/
    /* background-color: goldenrod; for bottom div */
    height: 50%;
    width: 100%;
}

.body-left-panel-top-div h2,
.body-left-panel-bottom--div h2 {
    padding-left: 0;
    text-align: left; /* Ensures text is aligned to the left */
    width: auto; /* Allows the heading to take up only as much width as it needs */
}





.body-primary-panel-div {
    display: flex;
    flex-direction: column;
    /*background-color: lightgreen;*/
    height: 100%;
    width: 80%;
    padding-left: 5%;

}

.body-primary-panel-top-div {
    display: flex;
    flex-direction: row;
    /*background-color: brown;*/
    height: 40%;
    width: 100%;

}

.upcoming-events-body-primary-panel-top-div {
    display: flex;
    flex-direction: row;
    /*background-color: brown;*/
    height: 10%;
    width: 100%;
    color: red;
    font-size: 22px;
    margin-top: 5%;

}

.upcoming-events-body-primary-panel-middle-div {
    display: flex;
    /*flex-direction: row;*/
    /*background-color: green;*/
    height: 80%;
    width: 100%;

}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.parent-container p{
    display: flex;
    padding-bottom: 10px;
}

.container1,
.container2,
.container3,
.container4 {
    flex: 1 0 50%;
    height: 50%;
}

.container1 {
    order: 1;
    /*background-color: red;*/
}


.container2 {
    order: 2;
    /*background-color: purple;*/

}

.container3 {
    order: 3;
    /*background-color: pink;*/

}

.container4 {
    order: 4;
    /*background-color: plum;*/

}




.upcoming-events-body-primary-panel-bottom-div {
    display: flex;
    flex-direction: row;
    /*background-color: yellow;*/
    height: 15%;
    width: 100%;

}

.upcoming-events-body-primary-panel-bottom-image-div {
    display: flex;
    flex-direction: row;
    /*background-color: lightgreen;*/
    height: 100%;
    width: 50%;
    justify-content: flex-end;
}



.upcoming-events-body-primary-panel-bottom-p-div {
    display: flex;
    flex-direction: row;
    /*background-color: lightblue;*/
    height: 100%;
    width: 50%;
    font-size: 22px;
    margin-left: 70%;

}

.upcoming-events-body-primary-panel-bottom-p-div h3 {
    display: flex;
    padding-top: 5%;

}


.upcoming-events-body-primary-panel-bottom-p-div img{

    height: 100%;
    width: 33%;


}



.body-primary-panel-left-div {
    display: flex;
    flex-direction: row;
    /*background-color: magenta;*/
    height: 100%;
    width: 50%;

}


.body-primary-panel-left-div img {
    width: 100%;

}

.body-primary-panel-right-div {
    display: flex;
    flex-direction: column;
    /*background-color: lightblue;*/
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;

}






.body-primary-panel-bottom-div {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap as needed */
    /*background-color: saddlebrown;*/
    padding-bottom: 55px;

}

.title-body-primary-panel-bottom-div {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap as needed */
    padding-bottom: 55px;
    flex-direction: row;
}

.title-body-primary-panel-bottom-div h2 {
    padding-left: 10%;
    color: gold;
    font-size: 26px;
}


.body-primary-panel-bottom-div p {
    flex: 1 1 50%; /* Grow to fill the space, basis of 50% */
    max-width: 50%; /* Ensure it does not grow beyond 50% */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding-bottom: 20px;
    padding-left:20px;
}









.footer-parent-div {
    display: flex;
    background: linear-gradient(to right,
    gold 0%,
    black 25%,
    gold 50%,
    black 75%,
    gold 100%);
    height: 15%;
    width: 100vw;
}


.foooter-contact-info-div {
    display: flex;
    /*background-color: lightseagreen;*/
    height: 100%;
    width: 30%;
    flex-direction: column;
    margin: 0;

}

.footer-image-div {
    display: flex;
    /*background-color: lightseagreen;*/

    flex-direction: row;
    padding-left: 80%;

}

.footer-image-home-div {
    display: flex;
    /*background-color: lightseagreen;*/

    flex-direction: column;
    width: 20%;
    padding-left: 10%;

}

.foooter-contact-info-home-div {
    display: flex;
    /*background-color: lightpink;*/
    height: 100%;
    width: 100%;
    min-width: 70vw;
    flex-direction: column;

}