.home-wrapper-div {
    display: flex;
    background-color: red;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}




.header-parent-div {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: 15%;
    width: 100vw;

}

.header-issue-div {
    display: flex;
    flex-direction: row;
    background-color: navy;
    height: 100%;
    width: 20%;

}

.header-sub-title-div {
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    height: 100%;
    width: 20%

}

.header-title-div {
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
    height: 100%;
    width: 60%;

}

.header-title-top-div {
    display: flex;
    flex-direction: row;
    background-color: darkolivegreen;
    height: 100%;
    width: 100%;

}


.header-title-bottom-div {
    display: flex;
    flex-direction: row;
    background-color: olivedrab;
    height: 100%;
    width: 100%;

}













.body-parent-div {
    display: flex;
    background-color: green;
    height: 70%;
    width: 100vw;

}

.body-left-panel-div {
    display: flex;
    background-color: lightgoldenrodyellow;
    height: 100%;
    width: 20%;
    flex-direction: column;

}

.body-left-panel-top-div {
    display: flex;
    background-color: gold;
    height: 50%;
    width: 100%;
    flex-direction: column;

}

.body-left-panel-bottom--div {
    display: flex;
    background-color: goldenrod;
    height: 50%;
    width: 100%;
    flex-direction: column;

}







.body-primary-panel-div {
    display: flex;
    background-color: lightgreen;
    height: 100%;
    width: 80%;

}














.footer-parent-div {
    display: flex;
    background-color: blue;
    height: 15%;
    width: 100vw;

}

.foooter-contact-info-div {
    display: flex;
    background-color: lightseagreen;
    height: 100%;
    width: 30%;
    flex-direction: column;
    margin: 0;

}